@model List<Product>

<partial name="_Toast" />

<h1>
    LIST PRODUCT
</h1>
<a asp-action="Create" class="btn btn-primary">Create</a>
<hr />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
            <th>Image</th>

            <th colspan="2" class="text-center">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.Name </td>
                <td>@x.Price </td>
                <td>@x.Category.Name </td>
                <td>
                    <img src="/@x.ImageUrl" alt="Alternate Text" />
                </td>


                <td>
                    <a asp-action="Edit" asp-route-id="@x.Id" class="btn btn-success"><i class="bi bi-pencil-square"></i> Edit</a>
                    <a asp-action="Delete" asp-route-id="@x.Id" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item @(ViewBag.pageIndex==1?"disabled":"")">
            <a class="page-link" href="#" tabindex="1">&larr;</a>
        </li>

        @for (int i = 1; i <= ViewBag.pageCount; i++)
        {
            <li class="page-item @(ViewBag.pageIndex==i ? "active" :"") ">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }
        <li class="page-item @(ViewBag.pageIndex==ViewBag.pageCount? "disabled" :"") ">
            <a class="page-link" asp-action="Index" asp-route-page="@ViewBag.pageCount"> &rarr;</a>
        </li>
    </ul>
</nav>
